body {
    background-color:  #101820;
}
h1 {
    color: cyan;
    text-align: center;
}
p {
    font-size: 20px;
    color: #FEE715;
}
input {
    color: #735DA5;
}
option {
    font-size: 15px;
    color:#990011;
}
button {
    font-size: 20px;
    background-color:#1995AD;
    color:white;
    border: none;
}
